<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response Page</title>
    <style>
        body{
            background-color:#eee
        }
        h1{
          color:maroon
          font-size: 25px;
        }
        p{
            margin-bottom: 10px;
            padding: 5px 0;
            font-size: 20px;
            font-weight:bold;
            text-align:center;
            width: 447px;
            border: solid black 2px;
         }
     </style>

</head>
<body>
<center>
    <br><br><br><br><br><br>
    <h1>Result:</h1>
    <p>{{value}}</p>
</center>
</body>
</html>