body{
    background-color:#eee
    }
.title {
    margin-bottom: 6px;
    padding: 2px 0;
    font-size: 17px;
    font-weight:bold;
    text-align:center;
    width: 410px;
    color:maroon;
    }
input[type="submit"] {
    background-color: maroon;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width: 100px
    }