body{
    background-color:#eee
    }
.title {
    margin-bottom: 6px;
    padding: 2px 0;
    font-size: 17px;
    font-weight:bold;
    text-align:center;
    width: 410px;
    color:maroon;
    }
input[type="submit"] {
    background-color: maroon;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
<<<<<<< HEAD
    width: 100px
=======
<<<<<<< HEAD
    width: 200%
=======
    width: 100%
>>>>>>> e73186370941340e0691b6c869e97859289435aa
>>>>>>> 07f7a90d055354a7dfeabfdb4202f90f7f40aba4
    }