<<<<<<< HEAD
body{
=======
<<<<<<< HEAD
body{
=======
<<<<<<< HEAD

        body{
=======
body{
>>>>>>> ed1f0685b926e9ab9ad67d8b15b67c73e2a1e5c7
>>>>>>> 1fe08ad1d4c6ee6621a55d3d8b497113a87ee55c
>>>>>>> 40891c9a38c6077e1d8920c9ae24ce206482cb90
            background-color:#eee
        }
        .title {
            margin-bottom: 6px;
            padding: 2px 0;
            font-size: 17px;
            font-weight:bold;
            text-align:center;
            width: 410px;
            color:maroon;
        }

        input[type="submit"] {
            background-color: maroon;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
        }
        input[type="reset"] {
            background-color: maroon;
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
<<<<<<< HEAD
        }
=======
<<<<<<< HEAD
        }
=======
        }
>>>>>>> 1fe08ad1d4c6ee6621a55d3d8b497113a87ee55c
>>>>>>> 40891c9a38c6077e1d8920c9ae24ce206482cb90
