<<<<<<< HEAD

        body{
=======
 body{
>>>>>>> ed1f0685b926e9ab9ad67d8b15b67c73e2a1e5c7
            background-color:#eee
        }
        h1{
          color:maroon
          font-size: 25px;
        }
        p{
            margin-bottom: 10px;
            padding: 5px 0;
            font-size: 20px;
            font-weight:bold;
            text-align:center;
            width: 447px;
            border: solid black 2px;
<<<<<<< HEAD
         }
=======
         }
>>>>>>> ed1f0685b926e9ab9ad67d8b15b67c73e2a1e5c7
