<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e_power_x</title>
    <link rel="stylesheet" type="text/css" href="static/request.css">
</head>
<body>
    <center>
        <div class="title">
            <h1>Scientific Calculator</h1>
        </div>
        <form action="subtraction_res" method="post" ><br><br><br><br><br><br><br>
            <table border="4" cellpadding="8" cellspacing="6">
                <tr><th colspan="5">subtraction</th></tr>
                <tr>
                <td><label for="input">Input</label></td>
                <td><input type="number" step="0.01" name="input1" placeholder="please enter x value" required></td>
                <td><input type="number" step="0.01" name="input2" placeholder="please enter x value" required></td>
                </tr>
                <tr>
                    <td><input type="reset" name="reset" value="reset" align="center"></td>
                    <td><input type="submit" name="calculate" value="calculate" align="center"></td>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>
